* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif
}
p{
    font-size:medium;
}

.container{
    width: 100%;

}
.image{
    position: relative;
}
.price{
    position:absolute;
    bottom: -30px;
    left: 50px;
}
.card{
    max-width:320px;
    transition: all 0.2s ease-in-out;
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.btn-danger{
    height:46px;
    font-size:18px;
}

/* Quantity */
.sign {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center
}

.sign span {
    height: 30px;
    width: 30px;
    background-color: black;
    display: flex;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    cursor: pointer
}

.sign small {
    font-weight: 700;
    margin-top: -14px;
    margin-right: 4px;
    height: 2px;
    width: 2px
}

.sign span i {
    margin-top: 5px
}

.ui-w-40 {
    width: 40px !important;
    height: auto;
}


/* Cart */
.shopping-card{
    margin-top:20px;
}
.ui-w-40 {
    width: 40px !important;
    height: auto;
}

.shopping-cart .card{
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);    
    max-width: 100%;
}

.ui-product-color {
    display: inline-block;
    overflow: hidden;
    margin: .144em;
    width: .875rem;
    height: .875rem;
    border-radius: 10rem;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    vertical-align: middle;
}


.center{
    width: 150px;
      margin: 40px auto;
      
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

  