#loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    justify-content: center;
    align-items: center;
    z-index: 10;
    display: none;
}